.icon1 {
    color: aquamarine;
    padding-right: 50px;
}

.icon2 {
  padding-right: 50px;
}

.icon3{
    color: dodgerblue;
    padding-right: 50px;
}

.icon4 {
    color: blue;
    padding-left: 50px;
}